<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.google.devtools.bazel.e4b.classpath.BazelClasspathContainerInitilalizer"
            id="com.google.devtools.bazel.e4b.BAZEL_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Import Bazel Workspace"
            icon="resources/icon.ico"
            class="com.google.devtools.bazel.e4b.wizard.BazelWizard"
            project="true"
            id="com.google.devtools.bazel.e4b.wizard.bazelWizard">
         <description>
         </description>
      </wizard>
   </extension>
   <extension id="a"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.google.devtools.bazel.e4b.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Bazel Plugin Preferences"
            class="com.google.devtools.bazel.e4b.preferences.BazelPreferencePage"
            id="com.google.devtools.bazel.e4b.preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.devtools.bazel.e4b.preferences.BazelPreferenceInitializer">
      </initializer>
   </extension>
   <extension id="b"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            isConfigurable="false"
            hasNature="false"
            supportsConfigurations="false">
         <run
               class="com.google.devtools.bazel.e4b.builder.BazelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.google.devtools.bazel.e4b.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
